#potentialSales,
#controlQuantityStores {
    color: $cl-purple;
    font-size: 60px;
    text-shadow:
        1px 1px 0 rgba(255, 255, 255, 0.7),
        /* Светлый эффект сверху */
        -1px -1px 0 rgba(0, 0, 0, 0.5);
    /* Темный эффект снизу */
}