@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");


.dataConrol_container3 {
    margin-top: 1%;
    padding: 0% 2% 2% 2%;
    border: 1px $cl-grey solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .dataConrol_svgSave {
        margin-left: auto;
        margin-bottom: 1%;
    }
}

.dataConrol_svgSaveSelf:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E7E9EC;
}

th {
    background-color: #F1F2FF;
    color: #2C2D31;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

td,
th {
    border: 1px solid #E7E9EC;
    padding: 8px;
    text-align: left;
}

td {
    font-weight: 400;
}

buttonDataControl {
    background-color: #474BAB;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

buttonDataControl:hover {
    background-color: #3d4191;
}

.modalDataControl {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalDataControl-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #474BAB;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.low-percentage {
    color: red;
}