@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");

@import "./vars.scss";
@import "./template.scss";
@import "./blocks/aside.scss";
@import "./blocks/content.scss";
@import "./blocks/table.scss";
@import "./blocks/button.scss";
@import "./blocks/form.scss";
@import "./blocks/modal.scss";
@import "./blocks/column.scss";
@import "./blocks/map.scss";
@import "./blocks/data.scss";
@import "./blocks/norming.scss";
@import "./blocks/driver.scss";
@import "./blocks/forecastParameters.scss";
@import "./blocks/forecast.scss";
@import "./blocks/modal_methodsRegAss.scss";
@import "./blocks/modal_optRegAss.scss";
@import "./blocks/loading.scss";
@import "./blocks/clustering.scss";
@import "./blocks/priority.scss";
@import "./blocks/control.scss";



@import "./modules/data.scss";
@import "./modules/fonts.scss";
@import "./modules/template.scss";

// @import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");


ody {
  width: 99vw;
  height: 100vh;
  //   margin-top: 20px;
  background: white;
  font-family: $main-font;
  color: #2C2D31;
  line-height: 20px;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
}

.first_nav {
  margin-left: 50px;
  width: 200px;
  background-color: #333;
  color: white;
  float: left;
  height: 770px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.aside-menu__btn {
  border: none;
}

.btn {
  font-size: 1.2rem;
}