$main-font: 'Inter', sans-serif;
$cl-main: #000;
$cl-additon: #27262B;
$cl-purple: #474BAB;
$cl-purple-light: #CACCF7;
$cl-grey-light: #FAFAFA;
$cl-grey-middle: #EAEAF0;
$cl-grey: #c4c5d7;
$cl-black: #2C2D31;
$cl-purple-bright: #3337a2;
$cl-table-bg: #f1f2ff;
$cl-table-border: #E7E9EC;
$cl-white: #fff;
$cl-grey-super-light: #FAFAFA;
$page-content-header-color: #2C2D31;
$cl-grey-purple: #F1F2FF;

$cl-btn-hover: #CACCF7;
$cl-border: $cl-grey-middle;

$border-radius: 0.8rem;

$transition-time: 0.2s;

:root {
  --bs-body-font-family: #{$main-font};
  --bs-body-font-size: 1.2rem;
  --bs-body-line-height: 1.2;

  --bs-border-radius: 0.8rem;
  --bs-border-color: #{$cl-grey-middle};

  --bs-link-color: #{$cl-purple};
  --bs-link-color-rgb: 71, 75, 171;
  --bs-link-decoration: none;
  --bs-link-hover-color: #{$cl-purple-light};
  --bs-link-hover-color-rgb: 201, 204, 247;

  --bs-card-spacer-x: 20px;
  --bs-card-spacer-y: 20px
}